body{
	margin: 0;
    padding: 20px;
    background-color: rgb(228, 227, 227);
    font-family: "Roboto", sans-serif;
}

input[type="radio"]{
    accent-color: green;
}

div.line{
    margin-bottom: 30px;
}

div.line > * {
    display: inline-block;
}

div.line > input{
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.329);
}


input.valid_text{
    border: 1px solid green !important;
    color: green;
}

input.valid_text::placeholder{
    color: green;
}

input.valid_text:focus{
    outline: none !important;
}


input.invalid_text{
    border: 1px solid brown !important;
    color: brown;
}

input.invalid_text::placeholder{
    color: brown;
}

input.invalid_text:focus{
    outline: none !important;
}
/*
input#after__::after{
    content: "✔";
    height: 20px;
    width: 20px;
    display: inline-block;
}

h2::after{
    content: "✔";
    height: 20px;
    width: 20px;
    display: inline-block;
}

*/

